{% extends 'base.html' %}

{% block content %}
<h1>Todo Lists</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Todolist</button>
</form>

<ul>
    {% for todo_list in todo_lists %}
    <li>
        <a href="{% url 'todo_list_detail' todo_list.pk %}">{{ todo_list.title }}</a>
        <a href="{% url 'todo_list_edit' todo_list.pk %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'todo_list_delete' todo_list.pk %}" class="btn btn-danger btn-sm">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}