{% extends 'base.html' %}

{% block content %}
<h1>Threads</h1>
<ul>
    {% for thread in threads %}
    <li><a href="{% url 'thread_detail' thread.pk %}">{{ thread.name }}</a></li>
    {% endfor %}
</ul>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createThreadModal">
    Create Thread
</button>

<div class="modal fade" id="createThreadModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Thread</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}